* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #EEE;
    flex-wrap: wrap;
    position: relative;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin-top: 40px;
}

#defaultCanvas1 {
   margin-top: -380px;
}

#defaultCanvas2 {
   display: none;
}

a {
    color: #FFF;
    text-decoration: none;
}

input, button {
        display: block;
        width: 200px;
        height: 50px;
        background: #F00;
        outline: none;
        cursor: pointer;
        border-radius: 7px;
        color: #FFF;
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin: 40px 20px 0 20px;
        box-shadow: 2px 2px 2px 2px black;
        transition: all 0.3s linear;
}

button:hover {
    box-shadow: 0px 0px 0px 0px #EEE;
}

input:hover {
    box-shadow: 0px 0px 0px 0px #EEE;
}