* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #EEE;
    flex-wrap: wrap;
    position: relative;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin-top: 40px;
}

#defaultCanvas1 {
   margin-top: -380px;
}

#defaultCanvas2 {
   display: none;
}